body {
    background-size: cover;
    background-color: moccasin;
}
.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start, #status, #number_of_objects {
    font-size: 18px;
}